apiVersion: v1
kind: Namespace
metadata:
  name: valetparking
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
  namespace: valetparking
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-database
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-database
  template:
    metadata:
      labels:
        app: mongo-database
    spec:
      containers:
        - name: mongo
          image: mongo:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-database
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 27017
      nodePort: 30017
  selector:
    app: mongo-database
---
# === BEGIN CONTROL SERVER ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controlserver
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controlserver
  template:
    metadata:
      labels:
        app: controlserver
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: controlserver
          image: imkannadiga/controlserver:latest
          ports:
            - containerPort: 10001
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-database:27017/"
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=controlserver,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true

        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: controlserver
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 10001
      nodePort: 30001
  selector:
    app: controlserver
---
# === BEGIN MAP SERVER ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mapserver
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mapserver
  template:
    metadata:
      labels:
        app: mapserver
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: mapserver
          image: imkannadiga/mapserver:latest
          ports:
            - containerPort: 10002
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-database:27017/"
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=mapserver,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true

        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: mapserver
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 10002
      nodePort: 30002
  selector:
    app: mapserver
---
# === BEGIN HEARTBEAT SERVICE ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: heartbeat
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heartbeat
  template:
    metadata:
      labels:
        app: heartbeat
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: heartbeat-service
          image: imkannadiga/heartbeat-service:latest
          ports:
            - containerPort: 10010
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-database:27017/"
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=heartbeat-service,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true

        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: heartbeat-service
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 10010
      nodePort: 30010
  selector:
    app: heartbeat
---
# === BEGIN AUTH SERVICE ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: auth-service
          image: imkannadiga/auth-service:latest
          ports:
            - containerPort: 9000
          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=auth-service,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "none"
            - name: OTEL_LOGS_EXPORTER
              value: "none"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true

        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30900
  selector:
    app: auth-service
---
# === BEGIN UI SERVICE (Python Valet Tester) ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-service
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui-service
  template:
    metadata:
      labels:
        app: ui-service
    spec:
      containers:
        - name: ui-service
          image: imkannadiga/ui-service:latest
          env:
            - name: OTEL_SERVICE_NAME
              value: "ui-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-collector-agent.monitoring.svc.cluster.local:4317"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "service.namespace=valetparking,service.version=1.0.0"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "4"
              memory: "512Mi"
---
# apiVersion: v1
# kind: Service
# metadata:
#   name: ui-service
#   namespace: valetparking
# spec:
#   type: NodePort
#   ports:
#     - port: 80
#       targetPort: 80
#       nodePort: 30080
#   selector:
#     app: ui-service
---
# === BEGIN PARKING SPOT MANAGER ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: parking-spot-manager
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: parking-spot-manager
  template:
    metadata:
      labels:
        app: parking-spot-manager
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: parking-spot-manager
          image: imkannadiga/parking-spot-manager:latest
          ports:
            - containerPort: 9001
          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=parking-spot-manager,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true

        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: parking-spot-manager
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 9001
      targetPort: 9001
      nodePort: 30901
  selector:
    app: parking-spot-manager
---
# === BEGIN VALETPARKING ===
apiVersion: apps/v1
kind: Deployment
metadata:
  name: valetparking
  namespace: valetparking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: valetparking
  template:
    metadata:
      labels:
        app: valetparking
    spec:
      initContainers:
        - name: download-otel-agent
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - curl -sSL https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/download/v2.16.0/opentelemetry-javaagent.jar -o /otel/opentelemetry-javaagent.jar
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
      containers:
        - name: valetparking
          image: imkannadiga/valetparking:latest
          ports:
            - containerPort: 9000
          env:
            - name: JAVA_TOOL_OPTIONS
              value: >
                -javaagent:/otel/opentelemetry-javaagent.jar
                -Dotel.exporter.otlp.protocol=grpc
                -Dotel.exporter.otlp.endpoint=http://otel-collector-agent.monitoring.svc.cluster.local:4317
                -Dotel.resource.attributes=service.name=valetparking,service.namespace=valetparking
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
          volumeMounts:
            - name: otel-agent
              mountPath: /otel
              readOnly: true
        - name: debug-tools
          image: nicolaka/netshoot

          securityContext:
            capabilities:
              add: ["NET_ADMIN", "SYS_ADMIN"]

          command: ["/bin/sleep", "3650d"]

      volumes:
        - name: otel-agent
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: valetparking
  namespace: valetparking
spec:
  type: NodePort
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30900
  selector:
    app: valetparking
