.map-select-wrapper {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
}

.map-select-wrapper * {
    margin-left: .5rem;
}

.canvas-wrapper {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.canvas {
    width: max-content;
    height: max-content;
    border: 1px solid black;
}